name: CI Pipeline

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Give execute permission
        run: chmod +x system-info.sh

      - name: Run system info script
        run: ./system-info.sh

      - name: CI success message
        run: echo "Week 3 CI Successful"
